
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/styles.css" rel="stylesheet" type="text/css" />

<h2 id="hall_number">Hall: 1</h2>

<main>
    <!--info about places-->
    <section class="row" id="places_info">
        <div class="col-lg-6">
            <div class="col-lg-4" id="prices">

            </div>

            <div class="col-lg-4" id="frees">

            </div>

            <div class="col-lg-4" id="busies">

            </div>
        </div>
        <div class="col-lg-6"></div>       
    </section>

    <br />

    
    <div class="row">        
        <div class="col-lg-8">
            <!--hall-->
            <section id="hall_scheme">
                
                <div class="row">
                    <div class="col-lg-2">Row 1</div>
                    <div class="col-lg-8">
                        <div class="col" id="row_1"></div>
                    </div>
                    <div class="col-lg-2">Row 1</div>
                </div>
                <div class="row">
                    <div class="col-lg-2">Row 2</div>
                    <div class="col-lg-8">
                        <div class="col" id="row_2"></div>
                    </div>
                    <div class="col-lg-2">Row 2</div>
                </div>
                <div class="row">
                    <div class="col-lg-2">Row 3</div>
                    <div class="col-lg-8">
                        <div class="col" id="row_3"></div>
                    </div>
                    <div class="col-lg-2">Row 3</div>
                </div>
                <div class="row">
                    <div class="col-lg-2">Row 4</div>
                    <div class="col-lg-8">
                        <div class="col" id="row_4"></div>
                    </div>
                    <div class="col-lg-2">Row 4</div>
                </div>
            </section>           
        </div>          
        <div class="col-lg-2">
            <!--information-->
            <section id="information">
                <div class="row">
                    <section id="select_place">
                        <h5><b>Selected places</b></h5>
                        <div class="row" style="border-bottom: 1px solid grey" id="sel_place_header">
                            <p class="col-lg-2">Row</p>
                            <p class="col-lg-3">Place</p>
                            <p class="col-lg-5">Price</p>
                            <div class="col-lg-2"></div>
                        </div>
                        <div id="data_block"></div>                      
                        <div class="row" id="total_sum">
                            <h5><b>Total sum: </b><span></span></h5>
                        </div>
                        <div class="row">
                            <button class="col-lg-12" id="next_step">Next step</button>
                        </div>
                    </section>
                </div>
                <br/>
                <div class="row" id="movie_block">
                    <b>Movie: </b>
                </div>
                <br />
                <div class="row" id="cinema_block">
                    <b>Cinema: </b>
                </div>
                <br />
                <div class="row" id="seance_block">
                    <b>Seance: </b>
                </div>

            </section>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4"></div>
    </div>
</main>


@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () { 
        $.date = function (dateObject) {
            var d = new Date(dateObject);
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }
            var date = year + '-' + month + '-' + day;
            return date;
        };

        $.getJSON("/Resources/Json/mpx_skymall/hall_1.json", function (data) {

            //array of halls
            var places = data;

            var cinema  = "Multiplex Sky Mall";      //cinema
            var hall    = 1;                         //hall
            var movie   = "Тор.Рагнарок";            //movie
            var date    = $.date($.now());           //date
            var seance = "19:00";                    //time

            //static value sum
            var sum = 0; 

            //places's collection 
            var placesArray = new Array();

            //selected
            var selectedPlaces = new Array();

            //busy
            var busyPlaces = new Array();

            //set information
            $('#movie_block').append(movie);
            $('#cinema_block').append(cinema);
            $('#seance_block').append(date + " " + seance);

            //hide block select place
            $('#select_place').hide();

            //create buttons places
            places.forEach(function (item, index) {
                $('#row_' + item.row).append(
                    '<button class="btn_place" id="place_' + item.row + '_' + item.num + '">' + item.num + '</button>'
                );
            });

            var ticket_hub = $.connection.ticketsHub;

            ticket_hub.client.addData = function (data) {
                selectedPlaces = data;
                console.log(selectedPlaces);
            }


            $.connection.hub.start().done(function () {
                $('#next_step').on('click', function () {

                    var is_similar = false;

                    //check isSelectedPlaces
                    placesArray.forEach(function (common, index_c) {
                        selectedPlaces.forEach(function (selected, index_b) {
                            if (selected.row == common.row && selected.num == common.num)
                                is_similar = true;
                        });
                    });

                    if (!is_similar) {
                        console.log("data send");
                        ticket_hub.server.send(placesArray);
                    }                     
                    else {
                        alert("sorry, places are  busies");
                        is_similar = false;
                    }
                    //send other clients
                    
                });   
            });



            //set handles for buttons
            places.forEach(function (item, index) {
                $('#place_' + item.row + '_' + item.num).on("click", { obj: item }, btnsClick);
            });

            //click event
            function btnsClick(e) {              
                var place = e.data.obj;
                var place_id = '#' + e.currentTarget.id;
                var sel_place = $('#select_place');

                //isButtonClicked
                if (!$(place_id).hasClass("btn btn-primary")) {
                    //enable blue color of btn
                    $(place_id).addClass("btn btn-primary");

                    sel_place.show(); //sel_place_header
                    $('#data_block').append(
                        '<div class="row place" id="_place_' + place.row + '_' + place.num+'" style="border-bottom: 1px solid grey">' +
                            '<p class="col-lg-2" > ' + place.row + '</p >' +
                            '<p class="col-lg-3">' +  place.num+ '</p>' +
                            '<p class="col-lg-5">' + place.price + ' grn</p>' +                           
                        '</div >'
                    );

                    //calk total sum
                    sum += place.price;                   
                    $('#total_sum').find('h5').find('span').empty();

                    //add to array of places
                    placesArray.push(place);
                  
                } else {
                    //disable color
                    $(place_id).removeClass("btn btn-primary");

                    //remove place
                    $('#_place_' + place.row + '_' + place.num).remove();
                   
                    //isNotplace
                    if ($('#data_block').children().length == 0) {
                        sel_place.hide();
                    }

                    //calk total sum
                    $('#total_sum').find('h5').find('span').empty();
                    sum -= place.price;

                    places.forEach(function (item, index) {
                        if (item.row == place.row && item.num == place.num)
                            delete placesArray[index];
                    });                   
                   
                }

                //set total sum
                $('#total_sum').find('h5').find('span').append(sum + " grn");

            } 
            
        });
    });
</script>
}